table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

td {
    padding: 10px;
    vertical-align: top;
}

td:first-child {
    font-weight: bold;
    width: 40%;
}